music21
transformers
mido
music21
pretty_midi
numpy
torch
torchaudio
torchcodec
pandas
abctoolkit
pyfluidsynth
soundfile
transformers==4.57.6
tensorflow
samplings
pytorch_lightning
peft
gin
omar_rq
music2latent
librosa
wandb
pyMV2H
audiomentations
pyroomacoustics
hydra-core
tensorboardX
